.menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}
.menu-container {
  display: block;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu-header .menu-body {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.menu-body {
  border: .5px solid rgba(128, 128, 128, 0.3);
  position: relative;
}
.menu-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.menu-body-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.logo img{
  height: 68px;
  margin: auto;
}
.list-left, .list-right {
  justify-content: end;
  line-height: 20px;
  list-style-type: none;
  align-items: center;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.list-left {
  padding-right: 70px;
}
.col_6 {
  max-width: 100%;
  flex: 0 0 auto;
  padding-right: 70px;
}
.col_6 li{
  float: left;
  box-sizing: border-box;
  margin: auto;
}
.col_6 ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  text-decoration: none;
  color: inherit;
}
.list-left a:hover, .translate li:hover{
  text-decoration: underline;
  text-decoration-color: #ffc266;
  text-decoration-thickness: 3px;
  font-weight: bold;
  -moz-text-decoration-color: #ffc266;
}

.list-left li:first-child a , .translate li:first-child a{
  text-decoration: underline;
  text-decoration-color: #ffc266;
  text-decoration-thickness: 3px;
  font-weight: bold;
  -moz-text-decoration-color: #ffc266;
}
.desktop-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
.translate {
  list-style-type: none;
  display: flex;
  gap: 5px;
}
.translate li{
  margin: 0;
  padding: 0;
}
.translate li a {
  padding: 0px;
}
.social-networks {
  display: flex;
}
.social-networks img{
  width: 20px;
  height: 20px;
}
.social-networks a {
  padding: 5px !important;
  margin: 0;
}
.nav-list {
   list-style-type: none;
   box-sizing: border-box;
   align-items: center;
   display: flex;
   gap: 24px;
   margin: 0;
   padding: 0 0 0 70px;
}
.nav-search {
  display: flex;
  box-sizing: border-box;
  align-items:  center;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.private-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 0.5rem;
}
footer {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #333;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col-footer {
  flex: 1;
  min-width: 200px;
  margin: 40px;
}

.bod-footer h5 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.bod-footer ul {
  /*font-weight: bold;*/
  list-style: none;
  padding: 0;
}

.bod-footer ul li {
  margin-bottom: 5px;
  color: inherit;
}

.bod-footer ul li a {
  color: #808080;
  text-decoration: none;

}
.bod-footer ul li a:hover {
  color: red;
  text-decoration: none;
}
.bod-footer ul span{
  color: #808080;
}
.logo-footer-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  width: 100%;
}
.footer-image{
  margin-right: 100px;
}
footer hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin-bottom: 20px;
}
.footer-telefono {
  font-size: 25px;
}
.ofic-central, .central-telef {
  font-weight: bold;
}
.footer-bottom {
  padding: 0;
  margin: 0;
  width: 100%;
}
.footer-legal {
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: #e1f2eb;
  text-align: center;
  color: #333;
}
.footer-links {
  width: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: .5px solid rgba(128, 128, 128, 0.5);
}

.footer-links a {
  margin: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  color: #333;
  padding-right: 30px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


.footer-legal a {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
}

.footer-legal a:hover {
  text-decoration: none;
  color: #00f;
}

.mega-box {
  width: 1400px;
  height: 100px;
  left: 250px;
  display: none;
  position: absolute;
  justify-content: left;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.slides {
  width: 1400px;
  top: 100px;
  left: 0px;
  display: none;
  position: absolute;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.box-row {
  display: inline-flex;
  width: 100%;
}

.box-column {
  max-width: 200px;
  margin: 20px 40px 20px 40px;
}

.slides h5 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.slides ul {
  /*font-weight: bold;*/
  list-style: none;
  padding: 0;
}

.slides ul li {
  margin-bottom: 5px;
  color: inherit;
}

.slides ul li a {
  color: #808080;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
}
.mega-box *{
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
.mega-box>ul {
  display: flex;
  margin: 0;
  padding: 3px 0px 3px 80px;
  gap: 100px;
  align-items: center;
}

.mega-box>ul>li>a{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding: 34px 10px;
  box-sizing: border-box;
  text-decoration: none;
}
.slides ul li a:hover {
  color: red;
  text-decoration: none;
}
.slides ul span{
  color: #808080;
}

.nav-list li:hover .mega-box {
  display: flex;
  position: absolute;
  visibility: visible;
}

.nav-list li .mega-box ul li a:hover + .slides {
  display: flex;
  position: absolute;
  visibility: visible;
}

.nav-list li .mega-box:hover,
.nav-list li .slides:hover {
  display: flex;
  position: absolute;
  visibility: visible;
}
